* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-weight: 200;
	line-height: 25px;
}

body {
	background-color: #F7F7F7;
}

.title {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;
    color: #9c27b0;
    text-align: center;
}

/* TOGGLER */
nav.collapsible div.toggler {
	width: 58px;
	height: 40px;
	border: #5f5a5ae3 1px solid;
	padding: 7px 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 8px;
}

nav.collapsible div.toggler div {
	position: relative;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: rgb(150, 150, 150);
	transition: all 0.250s;
}

nav.collapsible div.toggler div.toggled-top {
	transform: translateY(400%) rotate(45deg);
}

nav.collapsible div.toggler div.toggled-mid {
	transform: rotate(-45deg);
}

nav.collapsible div.toggler div.toggled-bottom {
	transform: translateY(-400%) rotate(45deg);
}

/* COLLAPSIBLE NAVIGATION */
 
nav.collapsible img.brand {
	width: 40px;
}



nav.collapsible a {
	font-size: 1.4em;
	text-decoration: none;

	color: #9c27b0;
}


nav.collapsible p {
	font-size: 1.4em;
    height: max-content;
    letter-spacing: 7px;
}
nav.collapsible ul li.nav-item {
	list-style-type: none;
    font-size: 14px;
    letter-spacing: 3px;
    transition: background-color 1s;
    border-radius: 5px;
}

nav.collapsible ul li.nav-item:hover {
    background-color: hsla(0, 0%, 0%, 0.23);
}
nav.collapsible {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: #fff;
	color: #000;
	padding: 10px 25px;
	width: 100%;
    border: none;
    border-top: 6px solid #9A30AE;
	text-align: left;
	outline: none;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

nav.collapsible ul li {
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Style the collapsible content. Note: hidden by default */
nav.collapsible .content {
	z-index: 2000;
	position: absolute;
	width: 100%;
	padding: 0 18px;
	overflow: hidden;
	text-align: center;

	left: 0;
	top: 100%;
	background-color: #fff;
    border-top: 1px #ffffff4d solid;
	/* Animation */
	max-height: 0px;
	transition: max-height 0.2s ease-out;

}
 /* MAIN IMAGE */

div.main {
	position: absolute;
	z-index: 0;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 100px;
}

div.main img.main-image {

	width: 100%;
}

/* COLUMN CONTENT */
div.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 0px 60px;
}

div.container div.colo-3 {
	flex: 2.4;
	padding: 0px 10px;
	margin: 0px 20px;
}

div.container div.colo-1 {
	flex: 1;
}

/* Column items (rows) */

div.container div.column-container .item {
	margin-bottom: 60px;
}

div.container div.column-container img {
	width: 100%;
	display: block;
}

div.container div.column-container div.item div.item-card {
	position: relative;
	width: 100%;
	padding: 20px 20px;
	background-color: #fff;
	color: #716f6f;
	font-family: 'Bitter', serif;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.05);

	
}

div.container div.column-container div.item div p {
	font-size: 15px;
	margin-bottom: 30px;
}

div.container div.column-container div.item p.email {
	font-size: 20px;
	margin-bottom: 30px;
	color: #716f6f;
	font-family: 'Bitter', serif;
	text-align: center;
}

div.container div.column-container div.item div p.email {
	font-size: 15px;
	margin-bottom: 30px;
	color: #716f6f;
	font-family: 'Bitter', serif;
}

div.container div.column-container div.item h1 {
	margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    color: #9c27b0;
}

/* forms */

div.container div.column-container form div.form-group {
	max-width: 100%;
	display: flex;
	margin: 20px 0;

}

div.container div.column-container form input[type=text], textarea {
	flex: 3;
	height: 45px;
	border-radius: 5px;
	border: #b9b9b9 1px solid;
	padding-left: 10px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
}

div.container div.column-container form textarea {
	height: 100px;
}

div.container div.column-container form button {
    flex: 1;
    font-size: 17px;
    font-weight: 500;
	height: 45px;
    cursor: pointer;
    color: #fff;
	border: none;
    background-color: #9c27b0;
    border-radius: 10px;
    transition: background-color 1s;
}

div.container div.column-container form button:hover {
	background-color: #6f1d7d;
}

div.container div.column-container div.item div.item-card div.div-footnote {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50px;
    width: 100%;
}

div.container div.column-container div.item div.item-card div.div-footnote img {
	position: absolute;
	right: 40px;
	top: 5px;
	width: 35px;
}

div.container div.column-container div.item div.item-card div.div-footnote p {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 35px;
}

footer {
	height: 500px;
	width: 100%;
	background-color: #9c27b0;
}

footer p.title {
	color: white;
}
/* DESKTOP */
@media only screen and (min-width: 769px) {

	nav.collapsible ul li {
		padding: 8px;
	}

	nav.collapsible ul li:nth-child(4) {
		padding-right: 15px;
	}

	nav.collapsible i.collapse-button {
		display: none;
	}

	nav.collapsible ul li.nav-item {
		border: none;
	}

	nav.collapsible .content {
		position: relative;
		display: flex;
		overflow: auto;
		color: #000;
		background-color: #fff;
		border: none;
		/* Animation */
		max-height: max-content;
		max-width: max-content;
		transition: max-height 0.2s ease-out;
	}

	nav.collapsible div.toggler {
		display: none;
	}
}
