* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 200;
}

/* TOGGLER */
nav.collapsible div.toggler {
	width: 58px;
	height: 40px;
	border: #5f5a5ae3 1px solid;
	padding: 7px 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 8px;
}

nav.collapsible div.toggler div {
	position: relative;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: rgb(150, 150, 150);
	transition: all 0.250s;
}

nav.collapsible div.toggler div.toggled-top {
	transform: translateY(400%) rotate(45deg);
}

nav.collapsible div.toggler div.toggled-mid {
	transform: rotate(-45deg);
}

nav.collapsible div.toggler div.toggled-bottom {
	transform: translateY(-400%) rotate(45deg);
}

/* COLLAPSIBLE NAVIGATION */
 
nav.collapsible img.brand {
	width: 40px;
}



nav.collapsible a {
	font-size: 1.4em;
	text-decoration: none;

	color: #000;
}
nav.collapsible a:hover {
	color: rgba(255, 249, 249, 0.35);
}

nav.collapsible p {
	font-size: 1.4em;
    height: max-content;
    letter-spacing: 7px;
}
nav.collapsible ul li.nav-item {
	list-style-type: none;
    font-size: 14px;
    letter-spacing: 3px;
    border-bottom: solid 1px rgba(255, 254, 254, 0.12);
}
nav.collapsible {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: #fff;
	color: #000;
	padding: 10px 25px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	margin-bottom: 50px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

nav.collapsible ul li {
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Style the collapsible content. Note: hidden by default */
nav.collapsible .content {
	position: absolute;
	width: 100%;
	padding: 0 18px;
	overflow: hidden;
	text-align: center;

	left: 0;
	top: 100%;
	background-color: #fff;
    border-top: 1px #ffffff4d solid;
	/* Animation */
	max-height: 0px;
	transition: max-height 0.2s ease-out;

}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 100%;
	background-color: rgb(52, 58, 64);
	margin-top: 30px;
	text-align: center;
	color: white;
}

/* DESKTOP */
@media only screen and (min-width: 769px) {

	nav.collapsible ul li {
		padding: 8px;
	}

	nav.collapsible ul li:nth-child(4) {
		padding-right: 15px;
	}

	nav.collapsible i.collapse-button {
		display: none;
	}

	nav.collapsible ul li.nav-item {
		border: none;
	}

	nav.collapsible .content {
		position: relative;
		display: flex;
		overflow: auto;
		color: #000;
		background-color: #fff;
		border: none;
		/* Animation */
		max-height: max-content;
		max-width: max-content;
		transition: max-height 0.2s ease-out;
	}

	nav.collapsible div.toggler {
		display: none;
	}

}
